<h4>the footbar</h4>
The footbar is that taskbar at the bottom. Type a URL that locates the HTML segment to show in the new window. Then click the <%= image_tag 'plus.gif', :alt => "plus" %> button.<br/>
A simpler option would be to look at the menu. Click on the <%= image_tag 'menu.gif', :alt => "tablet" %> button and choose a window to open.<br/>
To log out, click the <%= image_tag 'logout.gif', :alt => 'key' %> button.
<h4>windows</h4>
R = <em>reload</em><br/>
T = <em>rename</em><br/>
X = <em>remove</em><br/>
Drag the title of a window to move it.<br/>
Double click the title of a window to shade (minimize) it.<br/><br/>