<!-- the menu starts here -->
<a href='#' onclick='openService("<%= url_for :action => :clock %>", "Clock")'>Clock</a><br/>
<a href='#' onclick='openService("<%= url_for :action => :help %>", "Help")'>Help</a><br/>
<a href='#' onclick='openService("<%= url_for :action => :terminal %>", "Terminal")'>Terminal</a><br/>
<!-- end menu --><br/>