body {
  background-image: url(/images/background_blue.gif);
  background-color: darkblue;
  color: white;
  font-family: Verdana;
}

a, a:visited {
  color: red;
}

a:hover {
  color: orange;
}

/* thanks to wiki.script.aculo.us/stylesheets/script.aculo.us.css for this */
#footbar {
  position: fixed;
  border-top: 2px solid black;
  border-bottom: 10px solid lime;
  background-color: lime;
  width: 100%;
  left: 0px;
  bottom: 0px;
  text-align:left;
  color: #aaa;
  font-size: 10px;
  z-index: 10000;
  opacity: 0.6;
  height: 20px;
  padding-left: 10px;
}

#footbar a img {
  border: none;
  vertical-align: bottom;
}

#footbar input {
  width: 300px;
}

.window {
  position: absolute;
}

.window .titlebar {
  background-color: yellow;
  color: black;
  font-size: 14pt;
  padding-right: 10px;
  padding-left: 10px;
  border-left: 2px solid black;
  border-top: 2px solid black;
}

.window .refreshButton {
  background-color: green;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14pt;
  border-top: 2px solid black;
}

.window .closeButton {
  background-color: red;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14pt;
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.window .renameButton {
  background-color: blue;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14pt;
  border-top: 2px solid black;
}

.window .content {
  background-color: white;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 400px;
  border: 2px solid black;
}